<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo %>')">
  <h1><%= @cocktail.name %></h1>
</div>

<%= link_to 'add dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-flat' %>


<table>
  <h4>Doses:</h4>
  <tbody>
    <thead>
        <th>Ingredient</th>
        <th>Description</th>
    </thead>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td> <%= dose.ingredient.name %> </td>
        <td> <%= dose.description %></td>
        <td> <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Sure?" } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '< back', cocktails_path %>
